html{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(57, 58, 59);
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container{
  width: 700px;
  height: 500px;
  /* background-color: rgb(93, 108, 117); */
  background-color: rgb(213, 213, 205);
}